In [63]:
import numpy as np
import pandas as pd

In [64]:
df=pd.read_csv("https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding= "latin-1")

In [65]:
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [66]:
df.groupby('Element')['Y2017'].sum()

# Grouping by 'Element' and calculating the sum of 'Processing' in 2017
#result = df['Y2017'].groupby('Element')['Processing'].sum()

# Printing the result
#print(result['Processing'])

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [67]:
df_2014 = df['Y2014']
df_2014.isnull().sum()

1589

In [68]:
df_2014.shape

(60943,)

In [69]:
df_2017=df['Y2017']
df_2017.mean()

140.9177648602722

In [70]:
df_2017.std()

1671.8623590567995

In [71]:
selected_columns = df[['Y2017', 'Area']]
grouped_data= selected_columns.groupby('Area')['Y2017'].sum()
highest= grouped_data.idxmax()
highest

'Nigeria'

In [72]:
sorted_data = grouped_data.sort_values(ascending=True)
seventh= sorted_data.index[6]
seventh

'Guinea-Bissau'

In [73]:
# Grouping by 'Element' and calculating the sum of 'Stock Variation' for each year
grouped_data = df.groupby('Element').sum()

grouped_data

<ipython-input-73-f7249345c24f>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_data = df.groupby('Element').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [74]:
grouped_data = df.groupby('Item').sum()

print(grouped_data)

                     Area Code  Item Code  Element Code      Y2014      Y2015  \
Item
Alcohol, Non-Food        38447     752497       1515090    2403.00    2180.00
Alcoholic Beverages      75016    1649136       2171381  102410.11   98783.72
Animal Products          18060     397035         90990   11935.65   11811.73
Animal fats              85279    1882494       2567303  209460.54  200675.72
Apples and products      69280    1352989       1920418    9499.23   10559.15
...                        ...        ...           ...        ...        ...
Vegetables, Other        77779    1518715       2275409  155038.96  158104.08
Vegetal Products         18060     391905         90990  107145.19  107064.17
Wheat and products       87073    1639683       2654934  232670.13  234710.51
Wine                     66206    1319535       1818328    4497.36    4251.81
Yams                     50798     970905       1525745  200396.96  203151.78

                         Y2016      Y2017      Y2018
Item
Alcohol, Non-Food      2223.00    2348.00    2293.00
Alcoholic Beverages   96958.75   95581.06   97847.27
Animal Products       11661.69   11547.65   11578.61
Animal fats          183314.22  269617.53  269648.27
Apples and products    9853.26   10198.90    9640.51
...                        ...        ...        ...
Vegetables, Other    156218.90  157752.59  163987.21
Vegetal Products     106792.72  107655.20  107775.39
Wheat and products   239377.07  240047.62  242645.19
Wine                   3872.09    4178.02    4039.32
Yams                 220626.20  229174.59  221272.09

[119 rows x 8 columns]

<ipython-input-74-061f83835ee2>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_data = df.groupby('Item').sum()

In [75]:
filtered_data = df[(df['Area'] == 'Madagascar') & (df['Y2015'])]
filtered_data.groupby('Element').sum()


# Extracting the Protein supply quantity for Madagascar in 2015
#protein_supply_madagascar_2015 = filtered_data['Protein Supply Quantity'].sum()

# Printing the total Protein supply quantity in Madagascar in 2015
#print("Total Protein supply quantity in Madagascar in 2015:", protein_supply_madagascar_2015)

<ipython-input-75-0014ed6da114>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  filtered_data.groupby('Element').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,11481,240991,471789,31577.76,31214.98,31730.08,31926.87,32595.87
Export Quantity,6321,134352,289639,425.48,494.75,535.06,566.81,535.81
Fat supply quantity (g/capita/day),8772,185508,46512,88.71,91.85,95.29,101.01,96.39
Feed,1806,37888,77294,2177.76,2070.22,2117.40,2056.60,2130.60
Food,10449,220084,416502,21404.42,21120.65,21433.61,21675.21,22115.21
Food supply (kcal/capita/day),9159,193424,47144,7942.00,7685.00,7666.00,7765.00,7744.00
Food supply quantity (kg/capita/yr),11223,235799,56115,907.58,871.59,861.17,847.75,842.14
Import Quantity,5160,109447,224440,2008.68,1721.80,1890.46,3132.79,3202.79
Losses,5418,113563,215166,2252.00,2176.00,2215.00,2153.00,2253.00
Other uses (non-food),2322,49301,92772,4346.58,3957.12,4112.08,4170.06,4221.06
Processing,1548,32155,61572,1262.00,1803.00,1770.00,1826.00,1819.00
Production,10965,230006,468435,30337.51,29482.89,29889.65,29267.86,30215.86
Protein supply quantity (g/capita/day),8901,189330,46506,177.77,173.05,173.37,175.72,176.60
Residuals,903,19202,36190,-603.00,-616.00,-642.00,-657.00,-676.00
Seed,2064,43354,88432,728.00,699.00,720.00,695.00,728.00
Stock Variation,4386,92043,172448,362.00,-505.00,-509.00,-198.00,172.00
Total Population - Both sexes,129,2501,511,23590.00,24234.00,24894.00,25571.00,26262.00

In [76]:
unique_countries = df['Area'].nunique()
unique_countries

49

In [77]:
correlation_data = df.groupby('Element Code').corr()

# Finding the year with the least correlation with 'Element Code'
correlation_data

<ipython-input-77-0ca4a6042639>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.corr is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  correlation_data = df.groupby('Element Code').corr()

                        Area Code  Item Code     Y2014     Y2015     Y2016  \
Element Code
511          Area Code   1.000000        NaN  0.149348  0.149792  0.150292
             Item Code        NaN        NaN       NaN       NaN       NaN
             Y2014       0.149348        NaN  1.000000  0.999988  0.999951
             Y2015       0.149792        NaN  0.999988  1.000000  0.999987
             Y2016       0.150292        NaN  0.999951  0.999987  1.000000
...                           ...        ...       ...       ...       ...
5911         Y2014       0.005901   0.056301  1.000000  0.976942  0.992694
             Y2015       0.007883   0.050526  0.976942  1.000000  0.965195
             Y2016       0.006203   0.062306  0.992694  0.965195  1.000000
             Y2017       0.005156   0.063080  0.941934  0.863665  0.963790
             Y2018       0.004272   0.063211  0.942024  0.863140  0.963378

                           Y2017     Y2018
Element Code
511          Area Code  0.150840  0.151415
             Item Code       NaN       NaN
             Y2014      0.999885  0.999791
             Y2015      0.999947  0.999878
             Y2016      0.999986  0.999944
...                          ...       ...
5911         Y2014      0.941934  0.942024
             Y2015      0.863665  0.863140
             Y2016      0.963790  0.963378
             Y2017      1.000000  0.999409
             Y2018      0.999409  1.000000

[126 rows x 7 columns]

In [78]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: ignored

In [79]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']

In [80]:
pd.DataFrame(lst, columns=col, index=[i for i in range(1,4)])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92